/*This is the first website
I have ever tried my hand at. Apparently it is something that
can make me earn a lot of money and still be
something revealingly interesting in every project.
Let's hope I can do something worthwhile with this.

Code written by Pedro Campelo Matheus, Winter of 2020. */
* {
  box-sizing: border-box;
}

head {
  text-transform: lowercase;

}

body {
  box-sizing: border-box;
  min-width: 800px;
  min-height: 600px;
  max-width: 1920px;
  text-align:center;
  margin: 0 auto;
  padding: 40px 40px;
}

header {
  border: 4px  solid pink;
  padding: 20px;
  margin: 0 auto;
  position: relative;
}

#logo {
  box-sizing: border-box;
  min-width: 600px;
  min-height: 600px;
  max-width: 1280px;
  max-height: 720px;
  overflow: hidden;
}

nav {
  border: 4px 4px 0px 4px solid pink;
  padding: 80px 80px;
}

main {
  max-width: inherit;
  max-height: none;
}

section {
  position: static;
  margin-top: 0px;
  border: 4px solid pink;
  padding: 80px 80px;
}

ul {
  font-size: 35px;
  font-family: url("./Calamity-Regular.otf");
  margin: 0px 0px;
  list-style: none;
  display: inline-block;
}

li {
  border: 7px solid pink;
  padding: 30px 30px;
  display: inline-block;
}

li:hover {
  border: 7px solid black;
  background-color: #a9f5bd;
}

span {
  padding-right: 20px;
  font-family: url("./Calamity-Bold.otf");
  font-size: 50px;
  padding: 60px 0px;
}

button {
  display: block;
  position: relative;
  margin: 70px auto;
  padding: 4px 18px;
  font-size: 28px;
}

#result {
  padding: 40px 0px;
  position: relative;
  display: block;
  font-size: 45px;
  font-weight: bold;
  text-align: center;
}
