/*This is the first website
I have ever tried my hand at. Apparently it is something that
can make me earn a lot of money and still be
something revealingly interesting in every project.
Let's hope I can do something worthwhile with this.

Code written by Pedro Campelo Matheus, Winter of 2020. */

head {
  text-transform: lowercase;
}

body {
  box-sizing: border-box;
  width: 1920px;
  height: 1080px;
  text-align:center;
  margin: 0 auto;
  padding: 50px;
}

header {
  max-width: 500px;
  max-height: 500px;
  border: 1px solid color;
  padding: 10px;
  margin: 0 auto;
}

header img {
  min-width: 400px;
  min-height: 400px;
}

ul {
  font-size: 20px;
  font-family: url("./Calamity-Regular.otf");
  margin: 0 auto;
  list-style: none;
  display: inline-block;
}

main {
  min-width: inherit;
  max-width: inherit;
  min-height: inherit;
  max-height: none;
}

.button {
  background-color: #a1e5f7;
  text-align: center;
  display: block;
}

h1 {
  font-family: sans-serif;
  text-align:center;
}
