* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
  margin-block-start: 0px;
  margin-block-end: 0px;
  padding-inline-start: 0px;
  padding-inline-end: 0px;
}

@viewport {
  max-zoom: 150%;
  min-zoom: 90%;
}
/**/
body {
  background-image: url('lonedruid.jpg');
  background-repeat:no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-blend-mode: overlay;
  display: block;
  background-color: #ffebf5;
  max-height: 4320px;
  font-family: 'Raleway', sans-serif;
  margin: 0 auto;
  line-height: 1.7;
}
main {
  margin: 0 auto;
  margin-top: 0px;
}

h1 {
  font-size: 2em;
  text-overflow: hidden;
}
h3 {
  font-size: 2rem;
  text-overflow: hidden;
}
li {
  list-style: none;
}
a {
  padding: 5px;
  display: inline-block;
  width: fit-content;
  font-size: 20px;
  text-align: left;
  text-decoration: none;
  list-style: none;
  overflow: hidden;
  color: black;
}

a:hover, button:hover {
  color: black;
  background-color: rgba(255, 255, 255, 0.5);
}
a:visited, button:visited {
  text-decoration: none;
  color: black;
}
button {
  background-color: white;
  padding: 20px;
  color: black;
  font-size: 28px;
  text-align: center;
}
/* */

.sidenav {
  display: inline-block;
  height: 100%;
  position: fixed;
  background-color: white;
}
.sidenav a, button {
  padding: 20px;
  color: black;
  font-size: 28px;
  font-family: 'Raleway';
}
.page-title {
  position: static;
  width: 55%;
  margin: 100px auto;
  font-size: 35px;
}
.list {
  display: block;
  margin: 0 auto;
  margin-bottom: 200px;
  width: 55%;
  background-color: black;
  padding: 20px 0px 30px 0px;
  height: max-content;
}
.projects li {
  margin-left: 50px;
  margin-top: 40px;
  margin-bottom: 20px;
  display: block;
}
.projects li :hover  {
  background-color: #ffebf5;
  color: black;
}
.projects li a:active  {
  background-color: green;
  color: white;
}
.projects a {
  font-family: monospace;
  border: 1px solid white;
  color: white;
}
.youtube {
  width: 55%;
  margin: auto;
}
iframe {
  width: 100%;
}
.title {
  width: 55%;
  margin: 0 auto;
  padding-bottom: 10px;
  margin-bottom: 40px;
}
.audio {
  width: 55%;
  margin: 0 auto;
  padding: 100px;
}
.audio button {
  margin: 0 auto;
  display: inline-block;
  padding: 10px;
  font-size: 20px;
}
#heroes {
  margin-top: 30px;
  position: sticky;
  display: block;
}

footer {
  background-color: white;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 70px;
}
