/*

Code written by Pedro Campelo Matheus, Winter of 2020. */
* {
  box-sizing: border-box;
  text-align: center;
  font-family: Calamity;
  margin: 0;
  padding: 0;
  border: 0;
  scroll-behavior: smooth;
}

/*Added fonts*/
@font-face {
  font-family: 'Calamity';
  src: url("../resources/Calamity-Regular.otf");
}

body {
  width: 100%;
  height: auto;
  background-image: url('../resources/homepage.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

nav {
  border: 4px 4px 4px 4px solid pink;
  width: 100%;
  display: flex;
  flex-direction: row;
  position: sticky;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-template-rows: auto;
  column-gap: 50px;
  background: rgba(255, 255, 255, 1);
  background-blend-mode: color-burn;
}

nav img {
  object-fit: scale-down;
  object-position: -60px -137px;
}
/*Navigation Buttons */

.devnav {
  display: flex;
  width: 100%;
  flex-direction: row;
  grid-template-columns: repeat(4, 150px);
  column-gap: 90px;
  height: 0;
  transition: height 1.4s;
  overflow-y: hidden;
}

.menu {
    border: 7px solid pink;
    font-size: 1.2em;
    padding: 10px;
    overflow: hidden;
    white-space: nowrap;
}
.navD {
  grid-area: 'logo';
  width: 300px;
  height: 150px;
  margin-left: 40px;
  border: none;
}
.navA {
  margin-left: 5%;
}
.navE {
  border: none;
  padding: 0;
  margin: 0;
  font-size: 0.9em;
  align-items: flex-end;
}
a {
  text-decoration: none;
  color: rgba(245, 106, 28, 0.94);
  font-size: 1em;
}

a:hover {
  background-color: #a9f5bd;
  transition: 0.8s;
  color: black;
}

a:active {
  color:black;
}
/* Links */
a:visited {
  text-decoration: none;
}

}

.content {
  background-image: url('../resources/Templates_Final14.jpg');
  background-repeat: no-repeat;
  background-color: rgba(255, 255, 255, 0.1);
}

h1, h2, h3, h4, h5, h6, p {
  color: white;
}

button {
  padding: 4px 18px;
  font-size: 28px;
}


footer {
  margin-top: 50px;
  padding: 150px;
  border: 4px solid pink;
}

#result {
  padding: 300px;
  font-size: 2rem;
}
