/*
Code written by Pedro Campelo Matheus. All rights reserved.*/
* {
  box-sizing: border-box;
  font-family: Calamity;
  margin: 0;
  padding: 0;
  border: 0;
}

/*Added fonts*/
@font-face {
  font-family: 'Calamity';
  src: url("../resources/Calamity-Regular.otf");
}

html {
  overflow: hidden;
}

body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6, p, span {
  text-align: center;
  color: black;
  font-size: 15pt;
}

nav {
  width: 100%;
  height: 100px;
  display: flex;
  position: fixed;
  flex-flow: row wrap;
  flex-shrink: 0.5;
  column-gap: 40px;
  align-content: space-around;
  background: rgb(255,255,255);
  background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.8015581232492998) 35%, rgba(255,255,255,0.5998774509803921) 53%, rgba(255,255,255,0.4234068627450981) 71%, rgba(255,255,255,0) 100%);
  background-blend-mode: darken;
  z-index: 3;
}

main {
  display: flex;
  flex-direction: column;
}

.content {
  height: 300px;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin: 75px auto;
}

.text {
  width: 60%;
  margin: 0 0 150px 150px;
  display: inline-block;
}

.text h3, span {
  text-align: left;
  font-size: 20pt;
  margin-bottom: 70px;
}

.text span {
  font-size: 50pt;
  margin-left: 15px;
}

.text p {
  text-align: left;
  font-size: 12pt;
  border-top: 2px solid pink;
  border-bottom: 2px solid pink;
  padding: 30px 30px;
}

.photos {
  height: 500px;
  display: flex;
  flex-flow: row wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-top: 150px;
  margin-bottom: 400px;
}

.photo {
  width: 300px;
  height: 300px;
  border: 1px solid black;
  margin: 0 auto 60px auto;
}

.photo img {
  margin: 0 auto;
}

.orangebg {
  background: rgba(245, 106, 28, 0.7);
  margin: 0 auto !important;
  height: 375px !important;
}

.whitebg {
  background: rgb(255,255,255);
}

.dash-before:before {
  content: '';
  width: 100px;
  height: 5px;
  margin: 20px auto;
  background: rgba(245, 106, 28, 0.94);
}

.bg-img {
  top: 0px;
  width: 100vw;
  height: 100vh;
  position: static;
}

img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  overflow: inherit;
}

section p, section a {
  line-height: 3;
}

footer {
  display: flex;
  flex-direction: column;
  width: 100vw;
  margin: 0 auto;
  padding: 70px 0 60px 0;
  justify-content: flex-start;
  background: rgba(245, 106, 28, 0.7);
}

button {
  padding: 20px;
  margin: 40px auto;
  border-radius: 20px;
}

/* .devnav {
  disp#lay: flex;
  width: 100%;
  flex-direction: row;
  display: absolute;
  grid-template-columns: repeat(4, 130px);
  column-gap: 60px;
  height: 0;
  transition: height 1.4s;
  overflow-y: hidden;
} */

.menu {
    border: 7px solid pink;
    font-size: 14pt;
    padding: 8px;
    overflow: hidden;
}

.navA {
  margin-left: 5%;
}
.navB {
  border: none;
  padding: 0;
  margin: 0;
  font-size: 0.9em;
}

a {
  text-decoration: none;
  color: rgba(245, 106, 28, 0.94);
  font-size: 1em;
}
a:hover {
  background-color: #a9f5bd;
  transition: 0.8s;
  color: black;
}
a:active {
  color:black;
}
a:visited {
  text-decoration: none;
}

#result {
  height: 0;
  font-size: 17pt;
  line-height: 30pt;
  text-align: center;
}
